doctype html
html(lang='en' ng-app='list')
	head
		meta(charset="utf-8")
		link(rel="stylesheet", href="/stylesheets/main.css")
		title User List

	body
		block content
		//- script(angular.module'list',[])
		script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js")
		script(type="text/javascript" src="scripts/main.js")