h1 proxyShop
body
div(ng-controller="listController")
	form(name="frm" ng-submit="addItem()")
		input(type=text name="newListItem" ng-model="newListItem" required)
		button(type="submit" ng-disabled="frm.$invalid") Add Item
	ol#claimedItems
		li(ng-repeat="item in listItems")
			input(type="checkbox" ng-model="item.claimed")
			span(ng-class="{'claimed':item.claimed}") {{item.itemName}}

	button(ng-click="clearClaimed()") Clear Claimed Item(s)