h1.whiteText proxyShop
.container
	.row
		.col-sm-5.col-sm-offset-1
			//- h1.class. Let's get proxyShop 'n!
			h2.whiteText neighbors talk!    proxyShop
			//- ng-model for handling existing user logins.
			div.whiteText sign in:
				form.form-group(name="loggin" ng-submit="userLogin()")
					.form-group
						input.form-control(type="text" name="username" ng-model="loginUser.username" required placeholder="username")
					.form-group
						input.form-control(type="password" name="password" ng-model="loginUser.password" required placeholder="password")
					.form-group
						button.form-control(type="submit" ng-disabled="frm.$invalid") Login

			//- ng-model for handling existing user logins.
			div.whiteText register a new account:
				form.form-group(name="signnup" ng-submit="userSignup()")
					.form-group
						input.form-control(type=text name="username" ng-model="signupUser.username" required placeholder="username")
					.form-group
						input.form-control(type=text name="email" ng-model="signupUser.email" required placeholder="email address")
					.form-group
						input.form-control(type=text name="password" ng-model="signupUser.password" required placeholder="password")
					.form-group
						button.form-control(type="submit" ng-disabled="frm.$invalid") Sign me up!

//- Form for handling existing user logins.
//- h2 Existing Users
//- form(action="/auth/login", method="post")
//-   input(type="text", name="username", placeholder="Username")
//-   input(type="password", name="password", placeholder="Password")
//-   input(type="submit")

//- //- Form for allowing new users to register.
//- h2 Register
//- form(action="/auth/signup", method="post")
//-   input(type="text", name="username", placeholder="Username")
//-   input(type="email", name="email", placeholder="Email")
//-   input(type="password", name="password", placeholder="Password")
//-   input(type="submit")
//- body {
//-     background-image: url(/images/.jpg);
//- }
