body {
	margin: 1px;
	background-image: url('../images/bg_dogwalk.jpg');
  	background-color: transparent;
  	background-size: contain;
  	background-repeat: no-repeat;
}

.claimed {
	text-decoration: line-through;
	color: #ccc;
}
